/*
header z-index : 100;
lightbox z-index : 200;
*/

@keyframes rotate360 {
    0%   { transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
    25%  { transform: rotate(90deg);-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);}
    50%  { transform: rotate(180deg);-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);}
    75%  { transform: rotate(270deg);-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);}
    100% { transform: rotate(360deg);-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);}
}

@keyframes submarineMove {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(-4000px, 0px);-webkit-transform: translate(-4000px,0px);-moz-transform: translate(-4000px,0px);-ms-transform: translate(-4000px,0px);}  
}
@-webkit-keyframes submarineMove {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(-4000px, 0px);-webkit-transform: translate(-4000px,0px);-moz-transform: translate(-4000px,0px);-ms-transform: translate(-4000px,0px);}  
}

@keyframes waveMove2 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(4700px, 0px);-webkit-transform: translate(4700px,0px);-moz-transform: translate(4700px,0px);-ms-transform: translate(4700px,0px);}
}
@-webkit-keyframes waveMove2 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(4700px, 0px);-webkit-transform: translate(4700px,0px);-moz-transform: translate(4700px,0px);-ms-transform: translate(4700px,0px);}
}
@keyframes waveMove1 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(1295px, 0px);-webkit-transform: translate(1295px,0px);-moz-transform: translate(1295px,0px);-ms-transform: translate(1295px,0px);}
}
@-webkit-keyframes waveMove1 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(1295px, 0px);-webkit-transform: translate(1295px,0px);-moz-transform: translate(1295px,0px);-ms-transform: translate(1295px,0px);}
}

body
{	margin:0;
	overflow: hidden;
}

#main_container
{	width:100%;
	height:100%;
	position: fixed;
}

/* GROUND ----------------------------------------------------------------------------------------------------*/

#groundWrapper {
    position: absolute;
    bottom: 0px;
    width: auto;
}

#ground {
    height: 110px;
    float: left;
    bottom: 0px;
    position: absolute;
    background-position: left bottom;
}






/* SMOKE -----------------------------------------------------------------------------------------------------*/
.shipImg {
    margin-bottom: -120px;
}

/* Smoke container */
#smoke {
  position: relative;
  width: 1px;
  height: 160px;
  left: 195px;
  bottom: 220px;
}

/* smoke balls */
#smoke span {
  display: block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  height: 0px;
  width: 0px;
  border: 35px solid #ffffff;
  border-radius: 35px;
  left: -14px;
  opacity: 0;
  transform: scale(0.5);
}

/* Smoke animation */
@-webkit-keyframes smokeL {
  0%   {-webkit-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-webkit-transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;-webkit-transform: scale(1.5) translate(-20px, -130px);}
}
@-moz-keyframes smokeL {
  0%   {-moz-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-moz-transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;-moz-transform: scale(1.5) translate(-20px, -130px);}
}
@keyframes smokeL {
  0%   {transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;transform: scale(1.5) translate(-20px, -130px);}
}

@-webkit-keyframes smokeR {
  0%   {-webkit-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-webkit-transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;-webkit-transform: scale(1.5) translate(20px, -130px);}
}
@-moz-keyframes smokeR {
  0%   {-moz-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-moz-transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;-moz-transform: scale(1.5) translate(20px, -130px);}
}
@keyframes smokeR {
  0%   {transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;transform: scale(1.5) translate(20px, -130px);}
}

#smoke .s0 {
  -webkit-animation: smokeL 10s 0s infinite;
  -moz-animation: smokeL 10s 0s infinite;
  -o-animation: smokeL 10s 0s infinite;
  animation: smokeL 10s 0s infinite;
}

#smoke .s1 {
  -webkit-animation: smokeR 10s 1s infinite;
  -moz-animation: smokeR 10s 1s infinite;
  -o-animation: smokeR 10s 1s infinite;
  animation: smokeR 10s 1s infinite;
}

#smoke .s2 {
  -webkit-animation: smokeL 10s 2s infinite;
  -moz-animation: smokeL 10s 2s infinite;
  -o-animation: smokeL 10s 2s infinite;
  animation: smokeL 10s 2s infinite;
}

#smoke .s3 {
  -webkit-animation: smokeR 10s 3s infinite;
  -moz-animation: smokeR 10s 3s infinite;
  -o-animation: smokeR 10s 3s infinite;
  animation: smokeR 10s 3s infinite;
}

#smoke .s4 {
  -webkit-animation: smokeL 10s 4s infinite;
  -moz-animation: smokeL 10s 4s infinite;
  -o-animation: smokeL 10s 4s infinite;
  animation: smokeL 10s 4s infinite;
}

#smoke .s5 {
  -webkit-animation: smokeR 10s 5s infinite;
  -moz-animation: smokeR 10s 5s infinite;
  -o-animation: smokeR 10s 5s infinite;
  animation: smokeR 10s 5s infinite;
}

#smoke .s6 {
  -webkit-animation: smokeL 10s 6s infinite;
  -moz-animation: smokeL 10s 6s infinite;
  -o-animation: smokeL 10s 6s infinite;
  animation: smokeL 10s 6s infinite;
}

#smoke .s7 {
  -webkit-animation: smokeR 10s 7s infinite;
  -moz-animation: smokeR 10s 7s infinite;
  -o-animation: smokeR 10s 7s infinite;
  animation: smokeR 10s 7s infinite;
}

#smoke .s8 {
  -webkit-animation: smokeL 10s 8s infinite;
  -moz-animation: smokeL 10s 8s infinite;
  -o-animation: smokeL 10s 8s infinite;
  animation: smokeL 10s 8s infinite;
}

#smoke .s9 {
  -webkit-animation: smokeR 10s 9s infinite;
  -moz-animation: smokeR 10s 9s infinite;
  -o-animation: smokeR 10s 9s infinite;
  animation: smokeR 10s 9s infinite;
}

/* HEADER CONTENT BEGINS ---------------------------------------------------------------------------------------*/

#header {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: rgba(0,0,0,0.1);
	z-index: 100;
}

.headerContent {
	position: relative;
	float: left;
	width: calc(100% / 7);
	padding: 10px 0px;
	text-align: center;
	color: white;
	cursor: pointer;
}

/* LIGHTBOX CONTENT BEGINS ---------------------------------------------------------------------------------------*/
.blackout {
    display:none;
    position:fixed;
    background-color: rgba(0,0,0,0.90);
    width:100%;
    height:100%;
    z-index:200;
}


.closeBox {
    position:fixed;
    color:white;
    right:0px;
    padding:20px;
    font-size:15px;
    cursor: pointer;
    z-index:5;
}

.blackoutContent {
    width:100%;
    height:100%;
    position:fixed;
    z-index:4;
    display:none;
}

.blackoutContentWrapper {
    background-color: #f1f1f1;
    overflow-y:hidden;
    overflow-x: hidden;
    margin-top:5%;
    z-index:4;
    width:500px;
    margin-left: calc(50% - 250px);
    height:550px;
    margin-top:5%;
}


#main_character
{	width:200px;
	height:200px;
	position:absolute;
	background-image:url('./../images/main_character.png');
}

.layer
{	height:100%;
	position:absolute;	
}

.layer img
{	position:absolute;
}

.ground
{	position:absolute;
	bottom:0;
}

#underwaterBG {
    position:absolute;
    height:calc(100% + 600px);
    width:10000px;
    background-color:rgb(1,119,193); 
}
